/* Global styles */

// Reset default margin and padding
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Set a default font family
body {
  margin: 10px;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff; // Set text color to white in dark mode
}

// Add some styling to headings
h1, h2, h3, h4, h5, h6 {
  color: #bbb; // Light gray for headings in dark mode
}

// Add styling to paragraphs
p {
  line-height: 1.6;
  color: #cacaca; // Light gray for paragraphs in dark mode
}

// Add styling to buttons
button {
  cursor: pointer;
  padding: 10px 0px;
  font-size: 16px;
  background-color: #005ec3;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

// Add styling to input fields
input, textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333; // Dark background for input fields
  color: #fff; // Text color for input fields
  width: 100%; // Make the input fields span the entire width
  margin-bottom: 15px; // Add margin between input fields
}

// Add styling to links
a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}




/* Component-specific styles */

/* Container styles */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}




/* Login form styles */

.form-container {
  text-align: center;
  padding-bottom: 35px;
}

.form-title {
  margin-bottom: 30px;
}

.form-name-label{
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

/* Event list styles */
.event-list-container {
  text-align: center;
  padding-bottom: 100px;
}

.event-list-title {
  color: #fff;
  font-size: 24px;
  margin: 20px;
}

.event-list-wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
}

.event-list-wrapper ul {
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  display: flex;
  gap: 20px;
  align-items: center;
}

.event-list-wrapper ul li
{width: 100%;}

/* Event mini styles */
.event-mini-container {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

.event-mini {
  color: #fff;
}

.event-mini h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.event-mini button {
  font-size: 20px;
  margin-top: 15px;
}


/* Actions bar styles */
.actions-bar-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  gap: 10px;
  font-size: 20px;
}

.create-event-btn, .invited-events-btn, .manage-events-btn, .past-events-btn {
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Event Details */

.event-details-container {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  text-align: center; // Center align the content
}

.event-details-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.details-event-description {
  margin: 20px auto;
}

.event-header p {
  margin-bottom: 10px;
}

.event-description {
  color: #fff;
  margin-bottom: 20px;
}

.event-description p {
  margin-bottom: 10px;
}

.invitations-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th,
  td {
    padding: 10px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    text-align: center; /* Center align text within cells */
    font-size: 16px;
  }

  th {
    color: #fff; /* Light text color for header */
  }

  .pending {
    background-color: #941616; /* Dark background color for pending status */
  }

  td span {
    color: #fff; /* Light text color for status */
  }
}


/* Invite Friends */

.form-container {
  text-align: center; /* Center align the form */
}

.invite-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack list items vertically */
  align-items: center; /* Center align list items horizontally */
}

.invite-list-item {
  width: 100%;
  margin-bottom: 10px; /* Adjust margin for list items */
}

.remove-invite-button{
  background-color: #941616;
}

.invite-button{
  background-color: green;
}


.iono {
  margin-top: 15px;
  font-size: 35px;
}
