.event-mini-container {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
  }
  
  .event-mini {
    color: #fff;
  }
  
  .event-mini h2 {
    margin-bottom: 15px;
  }
  
  .event-mini button {
    font-size: 20px;
    margin-top: 15px;
  }