.form-container {
    text-align: center;
    padding-bottom: 35px;
  }
  
  .form-title {
    margin-bottom: 30px;
  }
  
  .form-name-label{
    margin-bottom: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }